@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient( #1845ad, #23a2f6 );
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient( to right, #ff512f, #f09819 );
  right: -30px;
  bottom: -80px;
}

#login-form > label {
  display: block;
  @apply mt-6;
  @apply mb-2;
  @apply ml-3;
}
#login-form > input{
  @apply px-4;
  @apply py-2;
  @apply w-full;
  display: block;
  background-color: rgba(255,255,255,0.07);
  @apply rounded-full;
  @apply mb-4;
}
#login-form > button{
  @apply mt-6;
  @apply w-full;
  @apply rounded-full;
  @apply text-black;
  cursor: pointer;
}


/* .mouse-cursor-gradient-tracking { */
/*   position: relative; */
/*   background: #7983ff; */
/*   padding: 0.5rem 1rem; */
/*   font-size: 1.2rem; */
/*   border: none; */
/*   color: white; */
/*   cursor: pointer; */
/*   outline: none; */
/*   overflow: hidden; */
/* } */
/**/
/* .mouse-cursor-gradient-tracking span { */
/*   position: relative; */
/* } */
/**/
/* .mouse-cursor-gradient-tracking::before { */
/*   --size: 0; */
/*   content: ''; */
/*   position: absolute; */
/*   left: var(--x); */
/*   top: var(--y); */
/*   width: var(--size); */
/*   height: var(--size); */
/*   background: radial-gradient(circle closest-side, pink, transparent); */
/*   transform: translate(-50%, -50%); */
/*   transition: width 0.2s ease, height 0.2s ease; */
/* } */
/**/
/* .mouse-cursor-gradient-tracking:hover::before { */
/*   --size: 200px; */
/* } */
/**/
/* <button class="mouse-cursor-gradient-tracking"> */
/*   <span>Hover me</span> */
/* </button> */
/**/
/* let btn = document.querySelector('.mouse-cursor-gradient-tracking'); */
/* btn.addEventListener('mousemove', e => { */
/*   let rect = e.target.getBoundingClientRect(); */
/*   let x = e.clientX - rect.left; */
/*   let y = e.clientY - rect.top; */
/*   btn.style.setProperty('--x', x + 'px'); */
/*   btn.style.setProperty('--y', y + 'px'); */
/* }); */


